* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(45deg ,#131313, #222222);
    font-family: "Kanit", 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.navbar {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo img{
    width: 60px;
    height: 60px;
}
nav ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 60px;
}
nav li:first-child {
    margin-right: auto;
}
nav a {
    height: 100%;
    padding: 20px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}
nav a:hover {
    color: skyblue;
    transition: color 0.3s ease-in-out; 
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 310px;
    z-index: 999;
    background-color: rgb(39, 39, 39);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
/* icons*/
.icons img {
    width: 20px;
    transition: transform 0.2s ease; 
}
.icons img:hover {
    transform: scale(1.2); 
}
.icons {
    background-color: #121212;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 20px;
}
.main {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    font-family: 'tahoma', Verdana, sans-serif;
    margin-top: 4%;
}
hr {
    border: 1px solid skyblue;
}
/*form*/
form {
    background-image: linear-gradient(to top right,#121212,#202020);
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin: 5% 10%;
    border-radius: 10px;
    gap: 10px;
}
input {
    background-color: rgb(35, 35, 35);
    padding: 10px;
    border-style: none;
    border-radius: 5px ;
    width: 100%;
    box-sizing: border-box;
}

#msg {
    background-color: rgb(35, 35, 35);
    padding: 10px;
    border-style: none;
    border-radius: 5px ;
    width: 100%;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}
#submit {
    color: skyblue;
    font-family: "kanit", Tahoma, 'Segoe UI';
    border-style: none;
    background-image: linear-gradient(270deg, #121212, #202020);
    padding: 10px;
    border-radius: 5px;
}





@media screen and (max-width: 650px) { /*mobile version*/
    .hideOnMobile {
        display: none;
    }
    .main h1 {
        font-size: 45px !important;
    }
}
@media screen and (max-width: 860px) { /*mobile version*/
    .navbar {
        width: 100%;
    }
}
@media screen and (max-width: 430px) { /*sidebar's width maxes on mobileview*/
    .sidebar {
        width: 100%;
    }
}
@media screen and (min-width: 650px) { /*gets rid of hamburger on desktop view*/
    svg {
        display: none;
    }
}
@keyframes fadeInAnimation { /*fadein animation on whole content*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}